In [1]:
import os
os.listdir(os.getcwd())

['.config',
 'adc.json',
 'senate_80-94',
 '2014.csv.gz',
 '2008_2012_senate_records.csv',
 '2014_senate_records.csv',
 'senate_records.csv',
 '1996_2006_senate_records.csv',
 '<built-in function id>.gz',
 'sample_data']

In [0]:
import pandas as pd

In [3]:
df = pd.read_csv('senate_80-94' , encoding='Latin-1')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9,10,11,12,14,15,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,cycle,transaction.id,transaction.type,amount,date,bonica.cid,contributor.name,contributor.lname,contributor.fname,contributor.mname,...,efec.memo,efec.memo2,efec.transaction.id.orig,bk.ref.transaction.id,efec.org.orig,efec.comid.orig,efec.form.type,excluded.from.scaling,contributor.cfscore,candidate.cfscore
0,1980,comm:1980:10,24K,250.0,1980-02-19,26,INTERNATIONAL CHIROPRACTORS POLITICAL ACTION C...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,-0.26,-0.71
1,1980,comm:1980:100000,24K,1000.0,1979-06-19,32805,ATLANTIC RICHFIELD COMPANY CONCERNED CITIZENS ...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.40,0.02
2,1980,comm:1980:100001,24K,500.0,1979-06-19,32805,ATLANTIC RICHFIELD COMPANY CONCERNED CITIZENS ...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.40,0.02
3,1980,comm:1980:100002,24K,200.0,1979-06-19,32805,ATLANTIC RICHFIELD COMPANY CONCERNED CITIZENS ...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.40,0.15
4,1980,comm:1980:100008,24K,300.0,1979-07-19,32805,ATLANTIC RICHFIELD COMPANY CONCERNED CITIZENS ...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.40,0.80

In [5]:
len(df)

1462146

In [6]:
df1 = pd.read_csv('1996_2006_senate_records.csv', encoding='Latin-1')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,7,8,9,10,11,12,14,15,19,20,28,38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
df1.head()

,cycle,transaction.id,transaction.type,amount,date,bonica.cid,contributor.name,contributor.lname,contributor.fname,contributor.mname,...,efec.memo,efec.memo2,efec.transaction.id.orig,bk.ref.transaction.id,efec.org.orig,efec.comid.orig,efec.form.type,excluded.from.scaling,contributor.cfscore,candidate.cfscore
0,1996,comm:1996:1000,SB,41509.0,1996-10-28,27466,NATIONAL REPUBLICAN SENATORIAL COMMITTEE EXPEN...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.90,-0.92
1,1996,comm:1996:100001,24K,500.0,1996-09-25,2972,ACTION COMMITTEE FOR RURAL ELECTRIFICATION ACRE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.10,0.57
2,1996,comm:1996:100057,24K,500.0,1996-09-24,300335,REMINGTON ARMS POLITICAL ACTION COMMITTEE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.90,0.87
3,1996,comm:1996:100060,24K,500.0,1996-10-28,300335,REMINGTON ARMS POLITICAL ACTION COMMITTEE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.90,0.45
4,1996,comm:1996:100075,24K,500.0,1996-05-10,300723,CENFED BANK F S B PAC,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.49,0.12

In [8]:
len(df1)

2297589

In [0]:
df = df.append(df1, ignore_index=True)

In [10]:
len(df)

3759735

In [11]:
df2 = pd.read_csv('2008_2012_senate_records.csv', encoding='Latin-1')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,2,3,5,7,8,9,10,11,12,14,15,18,19,20,21,28,36,37,38,39,40,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
df2.head()

,cycle,transaction.id,transaction.type,amount,date,bonica.cid,contributor.name,contributor.lname,contributor.fname,contributor.mname,...,efec.memo,efec.memo2,efec.transaction.id.orig,bk.ref.transaction.id,efec.org.orig,efec.comid.orig,efec.form.type,excluded.from.scaling,contributor.cfscore,candidate.cfscore
0,2008,comm:2008:100003,24K,2000,2008-07-29,34488,ANHEUSER BUSCH POLITICAL ACTION COMMITTEE AB PAC,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.05,0.80
1,2008,comm:2008:100025,24K,1000,2007-07-16,399717,PROFESSIONAL COUNSELING FUND,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,-0.44,-1.12
2,2008,comm:2008:100029,24K,2000,2008-08-05,35683,VOLUNTARY CONTRIBUTORS FOR BETTER GOVERNMENT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,-0.37,1.23
3,2008,comm:2008:100032,24K,1000,2008-09-29,43992,UNITED NATIONS REFORM ELECTORAL CAMPAIGN COMMI...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-0.92,-1.42
4,2008,comm:2008:100034,24K,1000,2008-04-28,368381,KERR DRUG INC PAC,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.42,-0.43

In [13]:
len(df2)

3210247

In [0]:
df = df.append(df2, ignore_index=True)

In [15]:
len(df)

6969982

In [0]:
df.to_csv('1980_2012_senate_records.csv', index=False)

In [0]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import pandas as pd
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [19]:
uploaded = drive.CreateFile({'title': '1980_2012_senate_records.csv'})
uploaded.SetContentFile('1980_2012_senate_records.csv')
uploaded.Upload()
print('Uploaded file with ID {}'.format(uploaded.get('id')))

Uploaded file with ID 1IJRtHNRCbgQuCc8mAQZrM8GcYHiJifo1

In [0]:
del df1
del df2

In [23]:
import gc
gc.collect()

365

In [3]:
import pandas as pd
df = pd.read_csv('1980_2012_senate_records.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,3,5,7,8,9,10,11,12,14,15,18,19,20,21,28,36,37,38,39,40,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df3 = pd.read_csv('2014_senate_records.csv', encoding='Latin-1')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (11,15,21,28,36,37,38,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
df3.head()

,cycle,transaction.id,transaction.type,amount,date,bonica.cid,contributor.name,contributor.lname,contributor.fname,contributor.mname,...,efec.memo,efec.memo2,efec.transaction.id.orig,bk.ref.transaction.id,efec.org.orig,efec.comid.orig,efec.form.type,excluded.from.scaling,contributor.cfscore,candidate.cfscore
0,2014,e:comm:2012:14052200527061,22Z,2500.0,2013-04-04,32780588402,medco health pac,NaN,NaN,NaN,...,CONTRIBUTION REFUND,CONTRIBUTION REFUND CONTRIBUTION REFUND,SB28.M14.163,NaN,The Peoples Seat PAC,C00467233,sb28c,1.0,0.24,0.84
1,2014,e:comm:2014:13041703335050,18K,63.0,2013-01-29,413914,gillibrand for senate,NaN,NaN,NaN,...,NaN,NaN,C6955957,NaN,Grassroots Victory Fund,C00485532,SA11C,0.0,-1.08,-1.14
2,2014,e:comm:2014:13041703534826,15E,555000.0,2013-02-25,31236444445,mccain palin compliance fund,NaN,NaN,NaN,...,TRANSFER FROM AUTHORIZED COMMITTEE,NaN,SB18.2,NaN,"JOHN MCCAIN 2008, INC.",C00430470,SA18,1.0,1.04,0.98
3,2014,e:comm:2014:13041703534827,21,205.5,2013-03-31,31236445483,jpmorgan chase,NaN,NaN,NaN,...,INTEREST EARNINGS,NaN,SB21.1,NaN,"JOHN MCCAIN 2008, INC.",C00430470,SA21,NaN,NaN,0.98
4,2014,e:comm:2014:13041703543377,18K,1000.0,2013-03-15,150201,american association for respiratory care poli...,NaN,NaN,NaN,...,NaN,NaN,SA11C.4155,NaN,Durbin Hoyer Fund,C00527705,SA11C,1.0,-0.11,-0.92

In [16]:
len(df3)

1428946

In [0]:
df = df.append(df3, ignore_index=True)

In [7]:
len(df)
# Should be 8398928

8398928

In [8]:
print('saving to csv')
df.to_csv('all_senate_records_1980-2014.csv', index=False)

print('saving to gdrive')
uploaded = drive.CreateFile({'title': 'all_senate_records_1980-2014.csv'})
uploaded.SetContentFile('all_senate_records_1980-2014.csv')
uploaded.Upload()
print('Uploaded file with ID {}'.format(uploaded.get('id')))

saving to csv
saving to gdrive
Uploaded file with ID 1kZY8HmESxwiL9l9xHE9KwFtvAkphtZUt

In [0]:
df.info()